<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>/Applications/1Password 7.app</key>
	<string>1password7</string>
	<key>/Applications/Android File Transfer.app</key>
	<string>androidfiletransfer</string>
	<key>/Applications/Apparency.app</key>
	<string>apparency</string>
	<key>/Applications/BBEdit.app</key>
	<string>bbedit</string>
	<key>/Applications/Backup and Sync.app</key>
	<string>googledrivebackupandsync</string>
	<key>/Applications/Discord.app</key>
	<string>discord</string>
	<key>/Applications/Dropbox.app</key>
	<string>dropbox</string>
	<key>/Applications/GoToMeeting.app</key>
	<string>gotomeeting</string>
	<key>/Applications/Google Chrome.app</key>
	<string>googlechrome</string>
	<key>/Applications/HandBrake.app</key>
	<string>handbrake</string>
	<key>/Applications/KnockKnock.app</key>
	<string>knockknock</string>
	<key>/Applications/OBS.app</key>
	<string>obs</string>
	<key>/Applications/Signal.app</key>
	<string>signal</string>
	<key>/Applications/Suspicious Package.app</key>
	<string>suspiciouspackage</string>
	<key>/Applications/Thunderbird.app</key>
	<string>thunderbird</string>
	<key>/Applications/Tunnelblick.app</key>
	<string>tunnelblick</string>
	<key>/Applications/UTM.app</key>
	<string>utm</string>
	<key>/Applications/Utilities/DEPNotify.app</key>
	<string>depnotify</string>
	<key>/Applications/VLC.app</key>
	<string>vlc</string>
	<key>/Applications/Visual Studio Code.app</key>
	<string>visualstudiocode</string>
	<key>/Applications/blender.app</key>
	<string>blender</string>
	<key>/Applications/zoom.us.app</key>
	<string>zoom</string>
	<key>IgnoredLabels</key>
	<array>
		<string>foo</string>
		<string>bar</string>
		<string>blee</string>
	</array>
</dict>
</plist>
